.primaryColor {
    background: #f5da55;
}

.primaryText {
    color: #f5da55;
}


.secondaryColor {
    background: #323330;
}

.secondaryText {
    color: #323330;
}

/* Removing border */
.navbar-dark .navbar-toggler {
    border: none;
}


/* All of the anchor tag get the secondaryColor theme */
#navbarSupportedContent > ul > li > a {
    color: #323330;
}

/* Restyle the hambuger icon */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 51, 48, 1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  /* Giving the hambuger icon a border */
  .navbar-light .navbar-toggler {
    border-color: #323330;
  }

header {
    height: 100%;
    background: #323330;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media only screen and (max-width: 64em) {
     /* For mobile phones: */
    .small-text {
        font-size: 70px;
    }
    .small-paragraph {
        font-size: 2vmin;
    }
    .darkButton {
        width: 100%;
    }
    .image-Mockup {
        height: 100vh;
    }
}

@media only screen and (min-width: 75em)  {
    .image-Mockup {
        overflow: hidden;
    }
}

.box-border {
    border: 2px solid #eee;
    border-radius: var(--borderRadius);
}
.big-paragraph {
    font-size: 20px;
}
.big-heading {
    font-size: 40px;
}

.text-white {
    color: #fff;
}

.icon-size {
    font-size: 50px;
}

.rel-top {
    position: relative;
    top:5px;
}

article {
    background: #323330;
}

aside {
    height: 100vh;
    background: #f5da55;
    overflow: hidden;
}
.image-Mockup {
    clip-path: inset(0px 0px 100px 0px);
    position: relative;
    top: -5px;
}

.padding-top-15{
    padding-top: 15%;
}
.padding-top-10{
    padding-top: 10%;
}
.margin-top-15{
    padding-top: 15%;
}
.margin-top-10{
    padding-top: 10%;
}

/*-------------- navbar-tabs------------------------------------   */
/* .navbar {
   padding: 0rem;
}
.mleft-1 {
    margin-left: 0px;
}
 */
#navbarSupportedContent > ul > li:nth-child(1) > a {
    background: #323330;
    color: #f5da55;
}

/* --------------- media queries for navbar -------------------------------------------- */

@media (max-width: 575.99px) {
    .navbar {
        padding: 0rem;
    }
    .logo-mobile {
        margin-left: 1rem;
    }
    .text-mobile {
        padding-left: 1rem !important;
    }
    .navbar-toggler {
        margin-top: .5rem;
    }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 576px) {
    .navbar-expand-sm {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
      display: none;
    }
    .navbar-expand-sm .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
    }
  }
  
  @media (max-width: 767.99px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 768px) {
    .navbar {
        padding: 0rem;
    }
    .logo-mobile {
        margin-left: 1rem;
    }
    .text-mobile {
        padding-left: 1rem !important;
    }
    .navbar-toggler {
        margin-top: .5rem;
    }
    .navbar-expand-md {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-expand-md .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
    .navbar-expand-md .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
    }
  }
  
  @media (max-width: 991.99px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
    .navbar-expand-lg .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
    }
    .nav-link {
        display: initial;
        padding:  1rem;
    }
    .padding-30 {
        padding-top: 30% !important;
        padding-bottom: 30% !;
    }
    .navbar-nav {
        margin-left: 15px;
    }
  }
  
  @media (max-width: 1199.99px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .navbar-expand-xl {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-expand-xl .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
      display: none;
    }
    .navbar-expand-xl .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
    }
  }

